# Virtual environment
.venv/
env/
venv/

# Python bytecode
*.pyc
__pycache__/

# Flask instance folder
instance/

# Test cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Build artifacts
dist/
build/
*.egg-info/

# IDE-specific files
.idea/
.vscode/

# Operating System specific files
.DS_Store
Thumbs.db